.dropdown {
    visibility: hidden;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    width: 55px;
    text-align: center;
    list-style: none;

    .menu-items {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        height: 24px
    }

}