@font-face {
    font-family: RampartOne;
    src: url(../assets/fonts/RampartOne-Regular.ttf);
}

.main-nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
    font-family: RampartOne;
    color: red;
    img {
    width: 80px;
    height: 80px;
    }
}
